<html>

<head>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <title><%= details.fullName %>'s Profile</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">

                <div class="card hovercard">
                    <button id="follow">
                    </button>
                    Followers:
                    <div id="follower-count">
                    </div>
                    Following:
                    <div id="following-count">
                    </div>
                    <div class="avatar">
                        <img alt="" height="250" width="250" src="../<%= details.profilePic %>">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="#"><%= details.fullName %></a>
                        </div>
                        <div class="desc">User Name: <%= details.userName %></div>
                        <div class="desc">E-mail: <%= details.email %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var followVar = "<%= follows %>";      
            var followerCountVar = <%= details.followers.length %>;
            var followingCountVar = <%= details.following.length %>;
            editor(followVar, followerCountVar, followingCountVar);            
            $("#follow").on("click", function () {
                $("#follow").prop("disabled", true);
                $.post('/follow-user', {userName: "<%=details.userName%>", id: "<%=details._id%>", follows: followVar}, (data)=>{
                    followVar = data;                    
                    editor(followVar, (followVar == "-1") ? --followerCountVar : ++followerCountVar, followingCountVar);
                    $("#follow").prop("disabled", false);
                });
            });
        });
        function editor(followVar, followerCountVar, followingCountVar){
            $('#follow').html((followVar == "-1") ? 'Follow' : 'Unfollow');
            $('#follower-count').html(followerCountVar);
            $('#following-count').html(followingCountVar);
        }
    </script>
</body>

</html>